<div class="container-header">
    <div class="content-header">
        <div class="identidade-area">
            <div class="logo-area">
                <img class="img-resize" src="../assets/icons/done.png" alt="">
            </div>
            <div class="container-header-desc">
                <h1>{{title}}</h1>
                <p>{{subtitle}}</p>
            </div>
        </div>
        
        
        <!-- <div class="menu-header">
            Menu tabs
        </div> -->
    </div>
</div>


<app-tasks></app-tasks>

<!-- <footer>
    <a href="https://www.flaticon.com/free-icons/task" title="task icons">Task icons created by SBTS2018 - Flaticon</a>
</footer> -->