.container-header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    -webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.21);
    -moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.21);
    box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.21);
}

.content-header{
    max-width: 1200px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container-header-desc{
    width: 300px;
    padding: 10px;
}

.menu-header{
    
}

.identidade-area{
    display: flex;
}

.logo-area{
    max-width: 60px;
    display: flex;
    margin-right: 10px;
}

.img-resize{
    max-width: 100%;
    height: auto;
    align-self: center;
}